#dataSelect {
  margin-right: 8px;
}

#windowSelect {
  margin-left: 8px;
}

select {
  border-width: 0 0 1px 0;
}

select:focus {
  /* border-width: 0 0 1px 0; */
  outline: none;
}

h2.content-title {
  margin-top: 36px;
}

code {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  font-size: 0.9em;
}

footer {
  background-color: rgba(0, 0, 0, 0.025);
  border-top-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  padding: 2rem;
  text-align: center;
}
